*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
article{
    padding: 1rem;
}
section.fondo{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-bottom: 2rem;
}
header{
   position: absolute;
   text-align: center;
   height: 50vh;
   top: 40%;
   left: 50%;
    transform: translate(-50%, 70%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}
section.fondo2{
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-bottom: 2rem;
}